




<div class="w-100 item d-flex justify-content-center align-items-center">
    <div class=" text-white ">
      <img src="assets/images/avataaars.svg" class="w-75 mt-5 mb-2 ms-5" alt="" />
      <h2 class="fw-bold fs-1">START FRAMEWORK</h2>
      <div class=" d-flex justify-content-center align-items-center my-2">
        <div class="line  me-3 bg-white"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line  ms-3 bg-white"></div>
      </div>
      <p class="text-center ">Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
  